.navbarbg{
  background-color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; 
    transition: color 0.3s ease-in-out;
    margin-left: 1rem; 
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #ce004f; 
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem; 
    color: #ce004f; 
  }
  
  .navbar-toggler {
    border: none; 
  }
  
  
  .nav-item {
    position: relative;
  }
  
  .nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ce004f;
    transition: width .3s;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
  .nav-item:hover::after {
    width: 100%;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    .navbar-nav {
      text-align: center;
    }
  
    .nav-item {
      margin-bottom: 1rem;
    }
  }
  