    <h1 class="text-center non-selectable mt-5">My Skills</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-12 mt-3">
            <div class="row text-center">
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/angular-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="Angular Icon">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/node-js-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="Node.js Icon">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/expressjs.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="Express.js Icon">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/bootstrap-5-logo-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="Bootstrap Icon">
                </div>
                   <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/bootstrap-5-logo-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="Bootstrap Icon">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/html-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="HTML Icon">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/css-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="CSS Icon">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/javascript-programming-language-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="JavaScript Icon">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/typescript-programming-language-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="TypeScript Icon">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/git-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="Git Icon">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/mongodb-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="MongoDB Icon">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/mysql-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="MySQL Icon">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/postman-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="Postman Icon">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4">
                    <img src="assets/visual-studio-code-icon.svg" class="img-fluid" style="width: 50px; height: 50px;" alt="VS Code Icon">
                </div>
            </div>
        </div>
        
        <div class="col-lg-8 col-md-12">
            <div class="skills-section non-selectable">
                <p>I excel in JavaScript and TypeScript, leveraging them to build dynamic frontend components and scalable backend solutions. With over 2 years of experience, I've mastered Angular for creating responsive interfaces and integrated Bootstrap for consistent designs across platforms. My proficiency extends to MySQL and MongoDB for efficient database management, and I've utilized Express with Node.js and Mongoose for robust backend development.</p>
                <p>I rely on Visual Studio Code for streamlined development workflows, customized for enhanced productivity. With 2+ years on Digital Ocean, I've deployed and managed cloud infrastructure, ensuring high availability. Proficient in Git and GitHub, I've maintained code integrity and facilitated collaborative development. Tools like Postman, Jira, and Confluence optimize API testing, project management, and deployment processes, ensuring reliability and efficiency across projects.</p>
            </div>
        </div>
    </div>
</div>
