
.non-selectable{
  user-select: none;
}

.intro h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3rem;
  margin-bottom: 10px;
}

.intro h2 {
  display: inline-block;
  font-size: 3rem;
  margin-right: 10px;
  color: #929292;
}

#typing-effect {
  white-space: nowrap;
  overflow: hidden;
  background: linear-gradient(to right, #af04ff, #ce004f);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  border-right: 0.15em solid #ffffff;
  animation: rotate-in 3s forwards, blink-caret 0.75s step-end infinite;
  transition: all 0.5s ease;
}

.btn.hire-me-btn {
  background-color: #ce004f;
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 1 rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

.btn.hire-me-btn:hover {
  background-color: #ad003e;
  transform: scale(1.05);
}

.btn.hire-me-btn a {
  color: #ffffff;
  text-decoration: none;
}

.btn.hire-me-btn a:hover {
  color: #000000;
}
.btn:hover {
  background-color: #a8003b;
}

.code{
  color: #ffffff;
  font-size: 15rem;
  display: flex;
  justify-content: flex-end;
  align-items: start;
}
.code:hover{
  color: #ce004f;
}


@media (min-width: 768px) {
  .home-container {
    margin-top: 5rem; 
  }
  
  .intro {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

}

@media (max-width: 767px) {
  .intro h1 {
    font-size: 2rem;
  }
  
  .intro h2 {
    font-size: 2rem;
  }
  
  .btn {
    padding: 8px 16px;
  }
}
