.non-selectable {
  user-select: none;
}

.intro h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3rem;
  margin-bottom: 10px;
}

.intro h2 {
  display: inline-block;
  font-size: 3rem;
  margin-right: 10px;
  color: #929292;
}

#typing-effect {
  white-space: nowrap;
  overflow: hidden;
  background: linear-gradient(to right, #af04ff, #ce004f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-right: 0.15em solid #ffffff;
  animation: rotate-in 3s forwards, blink-caret 0.75s step-end infinite;
  transition: all 0.5s ease;
}

.btn-primary {
  background-color: #ce004f;
  border-color: #ce004f;
  padding: 10px 20px;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: #ad003e;
  border-color: #ad003e;
  color: #000000;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .home-container {
    margin-top: 5rem;
  }
  
  .intro {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .col-md-6 {
    flex: 0 0 45%;
    max-width: 45%;
  }
}

@media (max-width: 767px) {
  .intro h1 {
    font-size: 2rem;
  }
  
  .intro h2 {
    font-size: 2rem;
  }
  
  .btn {
    padding: 8px 16px;
  }
  
  .code h1 {
    font-size: 5rem;
  }
}
