

<div class="home-container col-md-12 my-5">
  <div class="intro row justify-content-between my-5 align-items-center">
    <div class="col-md-12 text-center">
      <h2 class="greeting non-selectable">Hello I'm </h2><br>
      <h2 class="non-selectable mb-4">Sanket Bothe</h2>
      <h1><span id="typing-effect" class="non-selectable mt-5"></span></h1>
      <a href="https://wa.me/9404053327?text=Hello%2C%20I%20would%20like%20to%20chat%20with%20you" target="_blank" class="btn btn-primary non-selectable text mt-4">Contact Me</a>
    </div>
  </div> 
</div>
